<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tipsy.tipsy_mobile">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application
        android:label="Tipsy">

        <activity android:name="com.kakao.sdk.flutter.AuthCodeCustomTabsActivity">
            <intent-filter android:label="flutter_web_auth">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI, "kakao${YOUR_NATIVE_APP_KEY}://oauth" 형식 -->
                <data android:scheme="kakao87257d8db7512fd56ca5157564988776" android:host="oauth"/>
            </intent-filter>
        </activity>

    </application>



    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
